<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total no of Laptop</h6>
                    <h2 class="text-right"><i class="bi bi-laptop f-left"></i><span>046</span></h2>
                    <p class="m-b-0">Laptops assigned<span class="f-right">051</span></p>
                </div>
            </div>
        </div>
         <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <div class="rotate">
                        <h2 class="text-right"><i class="bi bi-wifi f-left"></i></h2>
                    </div>
                    <h6 class="text-uppercase"> Dongle </h6>
                    <h4 class="display-1">Total No Dongle issued <br> {{data}} </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <div class="rotate">
                        <h2 class="text-right"><i class="bi bi-file-text f-left"></i></h2>
                    </div>
                    <h6 class="text-uppercase"> Office 365 </h6>
                    <h4 class="display-1">Total Office 365 Installed <br>{{data1}} </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <div class="rotate">
                        <h2 class="text-right"><i class="bi bi-printer f-left"></i></h2>
                    </div>
                    <h6 class="text-uppercase"> printer </h6>
                    <h4 class="display-1">Total no of printer Installed <br>{{data2}} </h4>
                </div>
            </div>
        </div>
    </div>
</div>