<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style="text-align:center ;">
    <a class="navbar-brand" style="color:#0275d8;" href="itdashboard">IT MASTER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active hover-3" href="asystem">SYSTEM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active hover-3" href="alicense">LICENSE(OS)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active hover-3" href="aoffice">OFFICE 365</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active hover-3" href="adongle">DONGLES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active hover-3" href="apsp">PSP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active hover-3" href="aospace">OFFICE SPACE DETAILS</a>
        </li>
      </ul>
    </div>
    <div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Asset Purchased Entry
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="laptop">LAPTOP</a>
          <a class="dropdown-item" href="monitor">MONITOR</a>
          <a class="dropdown-item" href="cpu">CPU</a>
          <a class="dropdown-item" href="key-mouse">KEYBOARD,MOUSE</a>
          <a class="dropdown-item" href="dongle">DONGLE</a>
          <a class="dropdown-item" href="printer-projector">PRINTER,PROJECTOR</a>
          <a class="dropdown-item" href="software">SOFTWARE</a></div>
      </div>
    </div>
  </div>
</nav>