<div class="row">
    <div class="col-sm-12 card-padding">
        <div class="card">
            <h2 style="padding-left:15px;background-color:#0275d8;border-radius: 10px;color: white;">PRINTER SCANNER
                & PROJECTOR</h2>
            <div class="card2">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="form-label" for="form12">PRINTER NAME:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label" for="form12">PRINTER MODEL:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label" for="form12">PURCHACED LOCATION:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label" for="form3Example2">STATUS:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">select</option>
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="INACTIVE">INACTIVE</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label" for="form12">CURRENT USER:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label" for="form12">Last User:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
                <!--System end-->
                <br>
                <!--SAVE AND VIEW BUTTON-->
                <div class="text-center" style="padding-bottom:10px;">
                    <button type="button" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;margin-right: 10px;">Submit</button>
                    <button type="button" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">view</button>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>