<div class="container" style="padding-top: 25px;">
    <div class="row">
        <div class="col-sm-12 card-padding">
            <div class="card">
                <h2 style="text-align:center;background-color:#0275d8;border-radius: 10px;color: white;">SYSTEM</h2>
                <div class="card2">
                    <!--ASSET ID-->
                    <div class="form-outline">
                        <label class="form-label" for="form12">ASSET ID:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <!--DATE OF PURCHASE-->
                    <div class="form-outline">
                        <label class="form-label" for="form12">Date of Purchase:</label>
                        <input type="date" class="form-control" />
                    </div>
                    <!--shop name-->
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">Shop Name:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">select</option>
                            <option value="AMAZON">Amazon</option>
                            <option value="FLIPKART">Flipkart</option>
                        </select>
                    </div>
                    <!--Ram-->
                    <h4 style="color:darkgreen;font-weight:bold">Configuration:</h4>
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">RAM:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">select</option>
                            <option value="8GB">8GB</option>
                            <option value="6GB">6GB</option>
                            <option value="4GB">4GB</option>
                            <option value="12GB">12GB</option>
                        </select>
                    </div>
                    <!--rom-->
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">ROM:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">select</option>
                            <option value="1 TB">1 TB</option>
                            <option value="512 GB">512 GB</option>
                            <option value="100 GB">100 GB</option>
                        </select>
                    </div>
                    <!--monitor-->
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">Monitor Brand:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="1">select</option>
                            <option value="Dell">Dell</option>
                            <option value="Lenovo">Lenovo</option>
                            <option value="Hp">Hp</option>
                            <option value="Mac">MAC</option>
                        </select>
                    </div>
                    <!--Quantity-->
                    <div class="form-outline">
                        <label class="form-label" for="form12">Quantity:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <!--amount-->
                    <div class="form-outline">
                        <label class="form-label" for="form12">Amount:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <!--current user-->
                    <div class="form-outline">
                        <label class="form-label" for="form12">Current User:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <!--last user-->
                    <div class="form-outline">
                        <label class="form-label" for="form12">Last User:</label>
                        <input type="text" class="form-control" />
                    </div>
                    <!--System end-->
                    <br>
                    <!--SAVE AND VIEW BUTTON-->
                    <div class="text-center" style="padding-bottom:10px;">
                        <button type="button" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem; margin-right: 10px;">Submit</button>
                        <button type="button" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">view</button>
                    </div>
                </div>
                
            </div>
            <br>
                <br>
        </div>
    </div>