
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mms.businesswire.com/media/20220413005466/en/1419997/23/Tessolvelogo.jpg"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <h2 style="text-align: center;"> Welcome To Tessolve Asset Management</h2>
            <hr>
            <h4>Welcome to tessolve ASSET MANAGEMENT website,with this Employee's can register and get their assets.Tessolve IT team members can also login and manage the assets given to the Employee.Please click the below button to enter the Login page...</h4>
          <form>
            
  
            
           
               <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;"  (click)="onSignIn()">Login Page</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>

    


    
  